<!--
    ~화분을 등록하는 페이지~
-->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="image/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="intro"> 
            <div class="header">
                <ul class="title_area">
                    <li>
                        <a href="/home">WEED</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <a href="/home">HOME</a>
                    </li>
                </ul>
            </div>
                <div class="intro_text">
                    <div class="setting_main">
                        <h1>화분 등록</h1><br>
                            <form id="form" action="pot/regist" method="post">
                                <div class="int-area">
                                    <input type="text" name="potId" autocomplete="off" required="required">
                                    <label for="pot_id">화분ID</label><br>
                                </div>
                                <div class="int-area">
                                    <input type="text" name="name" autocomplete="off" required="required">
                                    <label for="pot_name">화분 이름</label><br>
                                </div>
                                <div class="int-area">
                                    <input type="text" name="plant" autocomplete="off" required="required">
                                    <label for="plant_name">식물 이름</label><br>
                                </div>
                                <button id="btn" type="submit">설정</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>